.grid-form {
    display: grid;
    grid-auto-columns: minmax(120px, min-content);
    grid-auto-rows: minmax(30px, auto);
    grid-row-gap: 0.5em;
    grid-column-gap: 0.15em;

    margin-top: 10px;
}

.grid-form label {
    grid-column: 1;

    margin-right: 10px;
    font-weight: bold;

    display: flex;
    justify-content: right;
    align-items: center;
}

.grid-form--input {
    grid-column: 2;
}